<!doctype html>
{% extends 'layout.html' %}

{% block title %}Aloha! | {{ super() }}{% endblock %}

{% block header %}
Aloha! Welcome to Hawaii Climate Data API 
{% endblock %}

{% block content %}
Available Routes: <br>
<br>
<a href="/api/v1.0/precipitation">/api/v1.0/precipitation</a> <br>
<br>
<a href="/api/v1.0/stations">/api/v1.0/stations</a> <br>
<br>
<a href="/api/v1.0/tobs">/api/v1.0/tobs</a> <br>
<br>
List of the min, avg, and max temperature <br>
<br>
Replace {start date} with your date in the format yyyy-mm-dd <br> (see example) <br>
<a href="/api/v1.0/{start date}">/api/v1.0/{start date}</a> <br>
<a href='/api/v1.0/onetemp/2017-06-10'>example</a> <br/>
<br>
Replace {start date} and {end date} with your dates in the format yyyy-mm-dd <br> (see example) <br>
<br>
<a href="/api/v1.0/{start date}/{end date}">/api/v1.0/{start date}/{end date</a> <br>
<a href='/api/v1.0/twotemp/2017-06-10/2017-06-24'>example</a> <br>
<br>
<form>
    <label>
      Choose start and end dates:
      <input type="date" name="Start Date" min="2016-08-23" max="2017-08-23" required>
      <span class="validity"></span>
    </label>
<br> 
    <p>
      <button>Submit</button>
    </p>
  </form>
{% endblock %}
