<!doctype html>
{% extends 'layout.html' %}

{% block title %}Aloha! | {{ super() }}{% endblock %}

{% block header %}
Aloha! Welcome to Hawaii Climate Data API 
{% endblock %}

{% block content %}
Available Routes: <br>
<br>
<a href="/api/v1.0/precipitation">/api/v1.0/precipitation</a> <br>
<br>
<a href="/api/v1.0/stations">/api/v1.0/stations</a> <br>
<br>
<a href="/api/v1.0/tobs">/api/v1.0/tobs</a> <br>
<br>
<a href="/api/v1.0/{start date}">/api/v1.0/{start_date}</a> <br>
<br>
Enter Start Date in YYYY-MM-DD format  <br> (see example) <br>
<br>
  <label for="startdate">Start date:</label>
  <input type="date" value="2017-03-01" min="2016-08-23" max="2017-08-23"></a> <br>
<a href='/api/v1.0/startdate/2017-03-01'>example</a> <br/>
<br>
<a href="/api/v1.0/{start date}/{end date}">/api/v1.0/{start date}/{end date}</a> <br>
<br>
  Enter Start Date/End Date in YYYY-MM-DD format <br> (see example) <br>
<br>
  <label for="daterange"></label>
  Start Date:<input type="date" value="2017-03-01" min="2016-08-23" max="2017-08-23"></a> <br>
  <br>
   End Date:<input type="date" value="2017-03-15" min="2016-08-23" max="2017-08-23"></a> <br>
<a href='/api/v1.0/daterange/2017-03-01/2017-03-15'>example</a> <br>
<br> 
Thank you for using Hawaii Weather API!
{% endblock %}
